.github
.gitignore
.gitattributes

.pixi
.tox
venv
.venv

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
coverage.html/

docs/_build/
docs/.doctrees/

dist/
build/

.vscode/
.idea/

*.log
.DS_Store
