[submodule "Assessing-LLM-Text-Detection-in-Educational-Contexts"]
	path = Assessing-LLM-Text-Detection-in-Educational-Contexts
	url = https://github.com/ccmaymay/Assessing-LLM-Text-Detection-in-Educational-Contexts
